:root {
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --lightGrey: hsl(217, 12%, 63%);
  --mediumGrey: hsl(216, 12%, 54%);
  --darkBlue: hsl(213, 19%, 18%);
  --veryDarkBlue: hsl(216, 12%, 8%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "overpass", sans-serif;
  overflow-x: hidden;
}

.section {
  width: 100vw;
  height: 100vh;
  background-color: var(--veryDarkBlue);

  display: flex;
  align-items: center;
  justify-content: center;
}

#container1,
#container2 {
  width: 390px;
  height: 400px;

  background: linear-gradient(to bottom, var(--darkBlue), hsl(213, 21%, 10%));
  border-radius: 2rem;
  padding: 1.6rem;
  position: absolute;

  color: white;
}

.show {
  z-index: 3;
}

#container2 {
  text-align: center;
}

.star-logo {
  width: 45px;
  height: 45px;
  background-color: rgba(255, 255, 255, 0.089);
  border-radius: 100%;
  object-fit: contain;

  display: flex;
  align-items: center;
  justify-content: center;
}

.star-logo > img {
  width: 15px;
  height: 15px;
}

.title {
  font-weight: 700;
  font-size: 30px;

  margin-top: 1.6rem;
}

.text {
  font-size: 15px;
  line-height: 1.5rem;
  font-weight: 400;
  color: var(--lightGrey);
  margin: 1rem 0;
}

.btns {
  margin: 1.6rem 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rating-btn {
  font-family: "overpass", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: var(--lightGrey);
  background-color: rgba(255, 255, 255, 0.068);
  height: 50px;
  width: 50px;
  border-radius: 100%;
  outline: none;
  border: none;

  cursor: pointer;
}

.rating-btn:hover {
  color: white;
  background-color: var(--orange);
}

.rating-btn:focus {
  color: white;
  background-color: var(--mediumGrey);
}

#submit-btn {
  width: 100%;
  height: 3rem;
  border-radius: 2rem;
  outline: none;
  border: none;

  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: var(--orange);

  cursor: pointer;
}

/* container 2  STARTS FROM HERE */
.thank-you-img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}

.show-rating {
  width: max-content;
  color: var(--orange);
  opacity: 0.9;
  background-color: rgba(255, 255, 255, 0.068);

  margin: 2rem auto;
  padding: 5px 20px;
  border-radius: 15px;
}
