body {
  background-color: rgb(114, 152, 240);
  font-family: "Outfit", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: rgb(55, 46, 46);
}

h1 {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  padding: 20px 0 40px;
}
h1 > span {
  color: yellow;
  text-transform: capitalize;
}

h1 > a {
  color: rgb(3, 63, 137);
}

.container {
  padding: 30px;
  margin: auto;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 40px;
}

.card {
  width: 260px;
  padding: 20px;
  background-color: white;
  border-radius: 16px;
}

.card > img {
  width: 100%;
  border-radius: 16px;
}

.card > p {
  font-size: 24px;
  font-weight: 500;

  padding: 20px 0;
  text-align: center;
}
